div#data {
}
	
#dataTable {
    width: 100%;
	background:#FFF;

}
th{
	font-weight:400;}
thead tr th,tfoot tr th{
	font-weight:bold;}
#dataTable tr{
    width: 20px;
	height:25px;
	border:thin solid #CCC;
	color: #333;
}
#dataTable tbody tr{
	font-size:0.85em;
	line-height:2em;
	color:#666;}
#dataTable tbody tr:nth-child(even) {
	background: #FFF;
}
#dataTable tbody tr:nth-child(odd) {
	background: #E7F1F1;
}
#dataPage tr:nth-child(even) {
	background:#CCF;
}
#dataTable th, #dataTable td{
	text-align: center;
	border:thin solid #CCC;
}
#dataTable thead {
	border:thin solid #CCC;
    background-color: #d5d5d5;
    color: #333;
}

#dataPage ul li {
	font-size:14px;
    display: inline-block;
	color:#666;
}
#dataPage ul li a {
    color: #003;
}
#dataPage {
	margin:10px 0;
    height: 25px;
    line-height: 25px;
}
#dataPage .page{
	border:thin solid #A2BBD7;
	background:#D2E7F0;
	}
#dataPage .page a{
	display:block;
	text-align:center;
	width:25px;
	height:25px;}
#dataPage ul li a:hover{
	text-decoration:underline;}
 #dataPage .page a:hover{
    color:white;
    background-color: #A2BBD7;
}

