
body, html{
   height: 100%;
   padding: 0;
}
body {
	font-family: 'Lato', sans-serif;
	position: relative;
}

#container {
	position: relative;
	display: block;
	margin: 0 auto;
	min-width: 1024px;
	width: 100%;
	max-width: 100%;
	min-height: 100%;
	overflow:hidden;
}

.main-container {
	width: 960px;
	display: block;
	margin: 130px auto 260px auto;
}

.main-container .content {
	width:620px;
	position:relative;
}

.centredShape {
	display: block;
	margin: 0 auto;
}

.centredText {
	text-align: center;
}

strong {
	font-weight: 900;
}

span {
	font-weight: 300;
	text-transform: uppercase;
	color: #FF2B06;
	
}

a {
	font-weight: 300;
	color: #010101;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	/*color: #BBB;*/
}

p {
	font-weight: 300;
}

h1 {
	text-decoration: none;
	color: #000;
	font-weight: 700;
	font-size: 16px;
}

/*Awards*/



.awardsLeft {
	position: absolute;
	top: 200px;
	right: 0px;
	top: 18%;
	z-index: 20;
	overflow: none;
	width: 80px;
}


	.awardsLeft img {
		margin-bottom: 20px;
		width: 65px;
		
		opacity: 1;
		
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}
	
.awardsRight {
	position: absolute;
	right: 0px;
	top: 8%;
	overflow: none;
	width: 85px;
	margin-top: 60px;
	z-index: 550;
}


	.awardsRight img {
		width: 85px;
		
		opacity: 0.9;
		
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
		z-index: 100;
	}

#cssa {
	position: relative;
	z-index: 550;
	width: 140px;
}

#cssda {
	position: absolute;
	top: 0;
	left: 120px;
	z-index: 550;
}

#csswinner {
	position: absolute;
	left: 0;
	top: 42%;
	z-index: 550;
}

.awardsLeft img:hover, .awardsRight img:hover, .awards:hover {
	
opacity: 0.8;
	
}

/*-----------------------------------sidebar in about and event page ------------------------------------------*/
.main-container sidebar {
	width: 300px;
	float: right;
	background: #fafafa;
	padding:10px 20px;
	border: 1px solid #F6F6F6;
	margin-bottom: 250px;
}

.main-container sidebar hr {
	margin-top: 20px;
	margin-bottom: 0px;
	border-top: 1px solid #ECECEC;
}

.main-container sidebar h3 {
	text-align: center;
	margin: -15 auto 4 auto;
	font-size: 20px;
	font-weight: 300;
	height:37px;
	width: 20%;
	color: #aaa;
	padding: 0 8px;
	background: #fafafa;
}

.tweet {
	margin-bottom: 10px;
	font-weight: 300;
	color: #555;
}

.tweet .time {
	float: right;
	color: red;
}
.tweet .tweet-content {
	clear:right;
	padding: 5px;
}

.about .content {
	width: 460px;
	margin-left: 60px;
}

/*---------------------------------site main navigation ----------------------------------*/

@-webkit-keyframes pulse {
0% {
top: -2px;
}
50% {
top: 1px;
}
100% {
top: -1px;
}
}




header {
	position:absolute;
	width: 1020px;
	top: 30px;
	right:50%;
	margin-right:-480px;
	z-index: 1;
}
			
	.socialMedia {
		float: right;
		margin-left: 30px;
		margin-top: 2px;
		padding-top: 0px;
		height: 14px;
		overflow: hidden;
	}
	
	.socialMedia a {
		min-width: 20px;
		margin-left: 5px;
	}
	.socialMedia img {
		height: 28px;
		margin-top: 0px;
		
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.socialMedia img:hover {
		margin-top: -28px;
	}
	
	.fb-like {
		float: left;
		margin-top: -22px;
		margin-left: 65px;
	}
	
	#recommend {
		margin-top: 0px;
		left: 50%;
		margin-left: -440;
	}
	
	.youTube img {
		height: 20px;
		margin-left: 198px;
		margin-top: -22px;
		border-radius: 3px;
		float: left;
	}
	
			
	header nav {
		overflow: hidden;
		float: right;
		margin-left: 250px;
	}
	
		header nav li {
			float: left;
			list-style: none;
			margin-left: 30px;
		}
		
			header nav li a {
				color: #000000;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 300;
				font-size: 14px;
				padding-bottom: 3px;
				
				-webkit-transition: border 0.3s ease;
				-moz-transition: border 0.3s ease;
				-o-transition: border 0.3s ease;
				transition: border 0.3s ease;
			}
			
			header nav li a:hover, header nav li.active {
				padding-bottom: 3px;
				border-bottom: solid #FF2B06 3px;
				text-decoration: none;
			}
			
	header > img, .homepage footer > img {
		width: 200px;
		margin-top:-30px;
		margin-left:0;
	}

/*==============================HOMEPAGE=====================================*/


#container.homepage {
	width:100%;
	min-width: 1020px;
	height:400%;
	background:#222;
}

.slide {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	min-height: 600px;
}
#background {
	z-index: 0;
	width: 1920px;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -960px;
}
#intro {
	top:0px;
	height:200%;
	z-index: 2;
	overflow:hidden;
}

.logoAndInstructions {
	position: absolute;
	top: 12%;
	left: 50%;
}

.homepageLogo {
	position:absolute;
	width: 650px;
	left:50%;
	margin-left:-325px;
}	
.instructions {
	width: 455px;
	position: absolute;
	left:50%;
	margin-left:-230px;
	margin-top: 140px;
}

html.ie8 .instructions, html.ie7 .instructions,html.ie6 .instructions {
	display: none;
}

	.instructionLine {
		width: 455px;
		overflow: hidden;
		margin-bottom: 10px;
	}		
	
		.instructionLine p {
			font-size: 18px;
			font-weight: 300;
			width: 380px;
			float: left;
			margin-top: 22px;
		}
		
		.instructionLine img {
			float: right;
		}
		
			.instructionLine .img1, #dynamicArrow {
				width: 70px;
				
			}
			
			#dynamicArrow {
				position: absolute;
				left: 385px;
				-webkit-animation: pulse 1s infinite ease-in-out;
			}
			
			.instructionLine .img2 {
				width: 35px;
				margin-right: 18px;
				
			}
			
	
	
#homepageButton {
    position: absolute;
    right: 0;
    top: 35px;
}

#speakerApplication {
	height: 62px;
	width: 206px;
	background-image:url('../img/mainElements/applyAsAttendee.png');
    float: left;
    margin-right: -16px;
}

#speakerApplication:hover {
	background-image:url('../img/mainElements/applyAsAttendeeHover.png');
    margin-top: -1px;
}

#deadline2 {
	color: #fff;
	background: #000;
	width: 176px;
    padding: 6px 0 5px 0;
	text-align: center;
	font-weight: 300;
	height: 20px;
	font-size: 15px;
    float: right;
    margin-top: 15px;
}	
	
	
			
/*#speakerApplication {
	height: 62px;
	width: 206px;
	float: right;
	margin-right: -19px;
/*	margin-top: 35px;*!/
    margin-top: 7px;
	background-image:url('../img/mainElements/applyAsSpeaker.png');
	/*-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;*!/
}

#speakerApplication:hover {
	background-image:url('../img/mainElements/applyAsSpeakerHover.png');
}	

#deadline {
	color: #fff;
	background: #000;
	width: 176px;
	position: absolute;
	right: 0;
	top: 92px;
	margin-right: -2px;
	text-align: center;
	font-weight: 300;
	height: 20px;
	padding: 5px 0 7px 0;
	font-size: 17px;
	text-decoration: line-through;
	
}

#deadline2 {
	color: #fff;
	background: #000;
	width: 176px;
	position: absolute;
	right: 0;
	top: 125px;
	margin-right: -4px;
	margin-top: -22px;
	text-align: center;
	font-weight: 300;
	height: 20px;
	padding: 5px 0 7px 0;
	font-size: 17px;
}*/	
			
			
/*Parallelogram*/

.parallelogram {
	position:absolute;
	display: block;
	left:65%;
	bottom:50%;
	margin-left:-2000px;
	margin-bottom:-200px;
	width: 2000px;
	height: 2000px;
	background:#fff;

		-webkit-transform: rotate(-20deg);
		   -moz-transform: rotate(-20deg);
		   		-o-transform: rotate(-20deg);
			 		-ms-transform: rotate(-20deg);
}

.parallelogram h2 {
	position:absolute;
	bottom:0px;
	right:0;
	font-size:40px;
	text-transform: uppercase;
	font-weight: 300;
}

.neg-parallelogram {
	position:absolute;
	left:65%;
	bottom:50%;
	margin-left:-410px;
	margin-bottom:-100px;
	display: block;
	background:#fff;
	width: 3000px;
	height: 2000px;

		-webkit-transform: rotate(70deg);
		   -moz-transform: rotate(70deg);
		   		-o-transform: rotate(70deg);
			 		-ms-transform: rotate(70deg);
}


#conclusion {
	top: 100%;
	z-index: 5;
	background: #fff;
}
#conclusion .container {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 600px;
}

.illustratedLogo {
	position: absolute;
	top: 50%;
	left:50%;
	width: 960px;
	margin-top: -230px;
	margin-left: -480px;
	z-index: 10;
	
}
/*Header 2*/
#conclusion .fb-like {
	position: absolute;
	top: 50%;
	left:50%;
	margin-top: 35px;
	margin-left: -480px;
}
#conclusion .header2 {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 720px;
	white-space: nowrap;
	margin-top: -32px;
	margin-left: -360px;
	display: block;
	overflow: hidden;
	
}


	#conclusion .header2 input[type=email] {
		padding: 6px 10px;
		margin-right: 1px;
		margin-top:0px;
		background: #f5f5f5;
		color: #f88;
		font-size:20px;
		font-weight:300;
		font-family: Lato;
		border:none;
		float: left;
	}
	
	#conclusion input[type=email]:focus {
		border: none;
		outline: none;
		color:#222;
	}
	
	#conclusion .header2 input[type=email] {
		width: 495px;
	}

	#conclusion .callToAction {
		color: #fff;
		background: #000;
		height: 30px;
		float: left;
		font-size: 20px;
		font-weight: 300;
		padding: 6px 10px 0 10px;
		text-align: center;
	}
	
	#conclusion .callToAction:hover {
		background: #ff2b06;
	}
		
		#subscribe-submit:hover {
			text-decoration: none;
		}
		
	
/*==========================ABOUT===================================*/


.about nav ul {
	overflow: auto;
	list-style: none;
}

.about nav li {
	float:left;
	width:152px;
	margin-left: 1px;
}

.about nav li a {
	text-decoration: none;
	display: block;
	line-height: 22.5px;
	padding: 10px;
	font-weight: 300;
	font-size: 20px;

	background: #fafafa;
	color: #111;
}

.about nav ul li:hover a {
	background: #111;
	color: #eee;
}

.about nav ul li a.active  {
	background: #111;
	color: #eee;
}


.about article{
	margin-top: 28px;
}

.aboutImg {
	margin-bottom: 20px;
}

.about p {
	font-weight: 300;
	color: #555;
	line-height: 21px;
}


/*========================Team Styles==============================*/
	
	
	.team h3 {
		font-weight: 900;
		font-size: 50px;
		line-height: 50px;
		text-transform: uppercase;
	}
	
	#hr {
		margin-top: 60px;
	}
	
	#mm {
		margin-top: -40px;
	}
	
	#pr {
		margin-top: 0px;
	}
	
	
	
	.members {
		position: relative;
		overflow: hidden;
		margin-top: -180px;
		height: 570px;
	}
		.members > div {
			position:absolute;
		}
		.members img {
			width: 960px;
			height: 541px;
			margin-top: 0;
		}
	
	.firstMemberList {
		margin-top: -100px;
	}
	
	/*Labels*/
	
	.team h5, .team h4 {
		float: left;
		font-size: 14px;
		text-transform: uppercase;
		width: 226px;
	}
	
	.team h5 {
		font-weight: 400;
	}
	
	.team h4 {
		font-weight: 500;
	}
	
	.team .names1 {
	
		-webkit-transform: translate(-22px,145px) rotate(-20deg);
		   -moz-transform: translate(-15px,140px) rotate(-20deg);
		   		-o-transform: translate(-15px,140px) rotate(-20deg);
			 		-ms-transform: translate(-15px,140px) rotate(-20deg);
	}
	
	.team .titles1 {
	
		-webkit-transform: translate(-22px,-118px) rotate(-20deg);
		   -moz-transform: translate(-10px,-120px) rotate(-20deg);
		   		-o-transform: translate(-10px,-120px) rotate(-20deg);
			 		-ms-transform: translate(-10px,-120px) rotate(-20deg);
	}
	
	.team .names2 {
	
		text-align: right;
	
		-webkit-transform: translate(740px,57px) rotate(20deg) ;
		   -moz-transform: translate(740px,55px) rotate(20deg);
		   		-o-transform: translate(740px,55px) rotate(20deg);
			 		-ms-transform: translate(740px,55px) rotate(20deg);
	}	
	
	.team .titles2 {
	
		text-align: right;
		
		-webkit-transform: translate(740px,-206px)  rotate(20deg);
		   -moz-transform: translate(740px,-205px) rotate(20deg);
		   		-o-transform: translate(740px,-205px) rotate(20deg);
			 		-ms-transform: translate(740px,-205px) rotate(20deg);
		
	}
	
	.team .secondTitle, .team .secondName, .team .thirdTitle, .team .thirdName {
		margin-left:30px;
	}
	
	#ashry {
		margin-top:-120px;
		margin-left:491px;
	}
	
	.founder {
		margin-left:639px;
	}
	.founder .firstName {
			-webkit-transform: translate(-150px,-35px)  rotate(20deg);
		   -moz-transform: translate(-150px,-35px) rotate(20deg);
		   		-o-transform: translate(-150px,-35px) rotate(20deg);
			 		-ms-transform: translate(-150px,-35px) rotate(20deg);
	}
		.founder .firstTitle {
			-webkit-transform: translate(180px, -80px) rotate(-20deg);
		   -moz-transform: translate(180px, -80px)  rotate(-20deg);
		   		-o-transform: translate(180px, -80px) rotate(-20deg);
			 		-ms-transform: translate(180px, -80px) rotate(-20deg);
	}

	html.ie8 .team .names1 ,html.ie8 .team .titles1,html.ie8 .team .names1 ,html.ie8 .team .titles2,html.ie8 .founder .firstName,html.ie8 .founder .firstTitle,
	html.ie7 .team .names1 ,html.ie7 .team .titles1,html.ie7 .team .names1 ,html.ie7 .team .titles2,html.ie7 .founder .firstName,html.ie7 .founder .firstTitle,
	html.ie6 .team .names1 ,html.ie6 .team .titles1,html.ie6 .team .names1 ,html.ie6 .team .titles2,html.ie6 .founder .firstName,html.ie6 .founder .firstTitle
	{
		display: none;
	}
	
	
/*========================Speakers Styles==============================*/

.speakers-main #speakers-column-left,
.speakers-main #speakers-column-right {
	
	width: 480px;
	float: left;
	
}

.speakers-main #speakers-column-left {
	
	padding-top: 50px;
	
}

	.speakers-main a {
		text-decoration: none;
	}
	
	.speakers-main a:hover .speakers-text-container {
		
		-moz-box-shadow: inset #cccccc -1px -1px 0 0;
		-webkit-box-shadow: inset #cccccc -1px -1px 0 0;
		box-shadow: inset #cccccc -1px -1px 0 0;
		
	}
		
		.speakers-main article {
			
			width: 460px;
			margin: 0 10px -30px 10px;
			float: left;
		}
		
			.speakers-main article img {
				
				width: 140px;
				float: left;
			}
			
			/* Text Container */
			
			.speakers-main article > div {
				
				width: 280px;
				background: #F7F7F5;
				height: 102px;
				padding: 20px;
				float: left;
				
				-moz-box-shadow: inset #E5E5E5 -1px -1px 0 0;
				-webkit-box-shadow: inset #E5E5E5 -1px -1px 0 0;
				box-shadow: inset #E5E5E5 -1px -1px 0 0;
				
			}
			
				.speakers-main article > div h3 {
					
					color: #000;
					font-size: 16px;
					font-weight: 700;
					margin-top: 8px;
					
				}
				
				.speakers-main article > div h3 span {
					
					color: #FF2B06;
					font-weight: 700;
					
				}
				
				.speakers-main article > div p {
					
					color: #565656;
					font-size: 14px;
					font-weight: 300;
					line-height: 18px;
					margin-top: 8px;
					
				}
			
			
			
/* ====================== Speakers Detailed View ========================= */

.speakers-detailed > img {
	
	margin-left: 140px;
	width: 140px;
	float: left;
	
}

.speakers-detailed #speakers-text-column {
	
	width: 460px;
	margin-left: 20px;
	float: left;
	
}

	.speakers-detailed #speakers-text-column h1 {
		
		color: #000;
		font-size: 22px;
		font-weight: 700;
		margin-top: -4px;
		margin-bottom: 16px;
		
	}
	
		.speakers-detailed #speakers-text-column h1 span {
			
			color: #FF2B06;
			font-weight: 700;
			
		}
	
	.speakers-detailed #speakers-text-column > p {
		
		color: #333333;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		
	}		
			
			
	
	.speakers-detailed #speakers-text-column #watchTalk {
		
		margin-top: 24px;
		
	}
	
	.speakers-detailed #speakers-text-column #watchTalk p {
		
		font-size: 14px;
		font-weight: 300;
		line-height: 18px;
		
	}	
	
	.speakers-detailed #speakers-text-column #watchTalk a {
		
		text-decoration: none;
		
	}
	
	.speakers-detailed #speakers-text-column #watchTalk a:hover #watchTalkHeading {
		
		color: #FF2B06;
		
	}
	
	.speakers-detailed #speakers-text-column #watchTalkButton {
		
		width: 260px;
		height: 30px;
		border: solid #CCCCCC 1px;
		margin-top: 10px;
		
	}	
	
		.speakers-detailed #speakers-text-column #watchTalkButton h3 {
			
			color: #999999;
			background: #F7F7F5;
			
			font-size: 15px;
			font-weight: 700;
			text-align: center;
			
			border-right: solid #CCCCCC 1px;
			
			width: 230px;
			padding: 6px 0 6px 0;
			margin: 0;
			
			float: left;
			
		}
		
		.speakers-detailed #speakers-text-column #watchTalkButton img {
			
			float: left;
			margin: 10px 0 0 12px;
			
		}
/*========================Talks Styles==============================*/
	
	
	.talks h1 {
		
		/*text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 1px;
		margin-bottom: 2px;*/
		
		font-weight: 900;
		font-size: 50px;
		line-height: 70px;
		text-transform: uppercase;
		
	}
	
	.talks h2 {
		
		font-weight: 400;
		font-size: 16px;
		
	}
	
	.talks p {
		
		width: 620px;
		margin: 10px 0 20px 0;
		font-weight: 400;
		line-height: 24px;
		
	}


/*==============================TEAM VISION INFO==============================================*/	
	
	
	.teams .teamsTitle {
		
		text-align: center;
		padding-top: 80px;
		
	}
	
		.teams h1 {
			
			font-size: 60px;
			font-weight: 900;
			
		}
		
		.teams p {
			
			font-size: 18px;
			font-weight: 300;
			line-height: 23px;
			margin: 40px 0;
			
		}
		
	
	.teams h2 {
		
		font-size: 40px;
		font-weight: 300;
		
	}
	
	.teams article {
		
		margin-top: 140px;
		overflow: hidden;
		
	}
	
	.teams article p {
		
		width: 400px;
		
	}
	
	.teams article > img {
		
		float: right;
		position: absolute;
		
	}
	
	/* Animated Objects */
	
	.teams #naga, .teams #samar, .teams #aya, .teams #hassan, .teams #rana, .teams #noura, .teams #hesham, 
	
	.teams #logistics2, .teams #logistics3,
	.teams #fundraising2,
	.teams #pr1, .teams #pr2,
	.teams #design1, .teams #design3,
	.teams #socialMedia1, .teams #socialMedia2, .teams #socialMedia3,
	.teams #development2,
	.teams #coaching2
	
	{
		
		visibility: hidden;
		
	}
	
	/* Logistics */
	
	.teams #logistics {
		
		width: 730px;
		margin-left: 60px;
		
	}
	
	.teams #logistics h2:nth-child(2) {
		
		margin-left: 160px;
		
	}
	
	.teams #logistics #logisticsPictogram {
		
		margin-left: 120px;
		margin-top: 70px;
		
	}
	
	.teams #logistics #logisticsPictogram img:nth-child(1) {
	
		position: relative;
		z-index: 1;
	
	}
	
	.teams #logistics #logisticsPictogram img:nth-child(2) {
	
		margin-left: -140px;
		margin-top: 62px;
		position: relative;
		z-index: 0;
	
	}
	
	.teams #logistics #logisticsPictogram img:nth-child(3) {
	
		margin-left: -84px;
		margin-top: -50px;
		position: relative;
		z-index: -1;
	
	}
	
	.teams #logistics p {
		
		margin-left: 166px;
		margin-top: 24px;
		
	}
	
	.teams #logistics > img {
		
		margin-top: -50px;
		margin-left: 582px;
		
	}
	
	
	
	/* Fundraising */
	
	.teams #fundraising {
		
		width: 570px;
		margin-left: 222px;
		margin-top: 160px;
		
	}
	
	.teams #fundraising #fundraisingPictogram {
		
		margin-top: 80px;
		
	}
	
	.teams #fundraising #fundraisingPictogram img:nth-child(1) {
	
		position: relative;
		z-index: 1;
	
	}
	
	.teams #fundraising #fundraisingPictogram img:nth-child(2) {
	
		margin-left: -158px;
		position: relative;
		z-index: 0;
	
	}
	
	.teams #fundraising p {
		
		margin-top: 24px;
		
	}
	
	.teams #fundraising > img {
		
		margin-top: 15px;
		margin-left: 436px;
		
	}
	
	
	/* Advertising & Public Relations */
	
	.teams #pr {
		
		width: 766px;
		margin-left: 90px;
		margin-top: 260px;
		
	}
	
	.teams #pr h2:nth-child(1) {
		
		margin-left: 240px;
		
	}
	
	.teams #pr h2:nth-child(2) {
		
		margin-left: 370px;
		
	}
	
	.teams #pr #prPictogram {
		
		margin-top: -50px;
		
	}
	
	.teams #pr #prPictogram img:nth-child(1) {
	
		margin-top: -100px;
	
	}
	
	.teams #pr #prPictogram img:nth-child(2) {
	
		margin-left: 200px;
		margin-top: 120px;
	
	}
	
	.teams #pr #prPictogram img:nth-child(3) {
	
		margin-left: -84px;
		margin-top: -50px;
		position: relative;
		z-index: -1;
	
	}
	
	.teams #pr p {
		
		margin-top: 56px;
		margin-left: 377px;
		
	}
	
	.teams #pr > img {
		
		margin-top: 50px;
		margin-left: 156px;
		
	}
	
	
	/* Design */
	
	.teams #design {
		
		width: 640px;
		margin-left: 180px;
		margin-top: 320px;
		
	}
	
	.teams #design h2:nth-child(2) {
		
		margin-left: 76px;
		
	}
	
	.teams #design #designPictogram {
		
		margin-left: 78px;
		margin-top: 70px;
		
	}
	
	.teams #design #designPictogram img:nth-child(3) {
	
		margin-left: -130px;
		margin-top: 86px;
	
	}
	
	.teams #design p {
		
		margin-top: 54px;
		
	}
	
	.teams #design > img {
		
		margin-top: -110px;
		margin-left: 430px;
		
	}
	
	
	
	/* Social & Interactive Media */
	
	.teams #socialMedia {
		
		width: 800px;
		margin-left: 64px;
		margin-top: 260px;
		
	}
	
	.teams #socialMedia h2:nth-child(1) {
		
		margin-left: 300px;
		
	}
	
	.teams #socialMedia h2:nth-child(2) {
		
		margin-left: 375px;
		
	}
	
	.teams #socialMedia #socialMediaPictogram {
		
		margin-top: 10px;
		
	}
	
	.teams #socialMedia #socialMediaPictogram img:nth-child(2) {
	
		margin-left: -70px;
		margin-top: 133px;
	
	}
	
	.teams #socialMedia #socialMediaPictogram img:nth-child(3) {
	
		margin-left: 10px;
		margin-top: 206px;
	
	}
	
	.teams #socialMedia p {
		
		margin-top: 24px;
		margin-left: 67px;
		
	}
	
	.teams #socialMedia > img {
		
		margin-top: 50px;
		margin-left: 500px;
		
	}
	
	
	/* Members' Development */
	
	.teams #development {
		
		width: 574px;
		margin-left: 200px;
		margin-top: 260px;
		
	}
	
	.teams #development h2:nth-child(1) {
		
		margin-left: 120px;
		
	}
	
	.teams #development h2:nth-child(2) {
		
		margin-left: 216px;
		
	}
	
	.teams #development #developmentPictogram {
		
		margin-top: 60px;
		margin-left: 216px;
		
	}
	
	.teams #development #developmentPictogram img:nth-child(2) {
	
		margin-left: -114px;
		margin-top: 65px;
	
	}
	
	.teams #development #developmentPictogram img:nth-child(3) {
	
		margin-left: 10px;
		margin-top: 206px;
	
	}
	
	.teams #development p {
		
		margin-top: 24px;
		margin-left: 216px;
		
	}
	
	.teams #development > img {
		
		margin-top: 40px;
		
	}
	
	
/* Speakers & Coaching */

.teams #coaching {
	
	width: 645px;
	margin-left: 160px;
	margin-top: 300px;
	
}

.teams #coaching h2:nth-child(2) {
	
	margin-left: 70px;
	
}

.teams #coaching #coachingPictogram {
	
	margin-top: 80px;
	margin-left: 70px;
	
}

.teams #coaching #coachingPictogram img:nth-child(2) {

	margin-left: -124px;
	margin-top: -26px;

}

.teams #coaching #coachingPictogram img:nth-child(3) {

	margin-left: 10px;
	margin-top: 206px;

}

.teams #coaching p {
	
	margin-top: 24px;
	margin-left: 70px;
	
}

.teams #coaching > img {
	
	margin-top: -56px;
	margin-left: 466px;
	
}


/*Outro*/

	.teams #outro {
		
		margin-top: 250px;
		padding-bottom: 100px;
		
	}
	
	.teams #outro h1:nth-child(1){
		
		margin-left: 120px;
		
	}	
	
	.teams #outro h1:nth-child(2){
		
		margin-left: 352px;
		
	}	
	
	.teams #outro p {
		text-align: center;
		margin-top: 40px;
		font-size: 22px;
		line-height: 28px;
	}
	
	.teams #outro span {
		text-transform: lowercase;
	}
	
	.teams #outro div {
		width: 202px;
		margin: 0 auto;
	}

/*==============================EVENTS===============================================*/

/*this hides the Diplaying 1 of x that appears in the paggination widget*/
.events .summary {
	display: none;
}

/*this is the pager that holds the pagination elements, you also hae full control over that*/
.events .pager {
	position: absolute;
	top: -20px;
	left:300px;
}

.events .pager .selected > a {
	background: red;
}

.events .items article {
	clear: both;
	height: 200px;
	position: relative;
	top: -150px;
}
.events .items article:first-child {
	top: 0;
	clear: none;
}
.events .items article img {
	float: left;
	width: 220px;
}

.events .items article img:hover {
	opacity: 0.8;
}

.events .items article section {
	float: right;
	width: 360px;
	margin-right: 20px;
}
.events .items article h3 {
	font-size: 16px;
	margin-bottom: 10px;
	/*text-transform: capitalize;*/
}
.events .items article h3 a {
	text-decoration: none;
	color: #000;
	font-weight: 500;
	text-transform: uppercase;
}

.events .items article h3 a:hover{
	color: #BBBBBB;
} 


/*==============================EVENT===============================================*/

.event h1 {
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 500;
}

.event article {
	margin: 10px 0;
}

.eventImg {
	width: 600px;
	margin-top: 10px;
}



/*==============================SPONSORS===============================================*/

	
	.sponsors {
		overflow: hidden;
	}
	
	.sponsors .sponsorContainer {
		border: none;
		width: 620px;
		overflow: hidden;
		margin-bottom: 60px;
	}
	
	.sponsors h3 {
		font-size: 25px;
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 20px;
	}
	
	.sponsors .imageContainer {
		height: 200px;
		margin-right: 10px;
		overflow: hidden;
		
		float: left;
	}
	
	.sponsors .last {
		margin-right: 0;
	}
	
	
	.sponsors img {
	
	width: 190px;
	
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.sponsors img:hover {
		margin-top: -200px;
	}
/*==============================CONTACT==============================================*/	
	
a.red, .red a {
	text-decoration: none;
	color: #FF2B06;
}	

.sponsors a:hover, .contact a:hover {
	text-decoration: underline;
}
	
	
/*Footer*/

footer {
	background: #EDEDED;
	height: 210px;
	position: absolute;
	bottom: 0;
	text-align: left;
	width: 100%;
}

footer .footer-container {
	position: absolute;
	width: 960px;
	left: 50%;
	margin-left: -480px;
	padding: 30px 0;
}

footer p {
	color: #808080;
	font-weight: 300;
	font-size: 12px;
}

footer .footer-bottom-right {
	position: relative;
	float: right;
	overflow: hidden;
	margin-top: -22px;
	width: 500px;
}

footer .footer-bottom {
	clear: both;
}

footer .socialMedia {
	margin-top: 0;
}

.subscribe-box {
	float: right;
	white-space: nowrap;
	margin-left: 30px;
}
.subscribe-box input[type=email] {
	padding: 3px 10px;
	margin-right: 1px;
	margin-top:0px;
	background: #f5f5f5;
	color: #808080;
	font-size:13px;
	font-weight:300;
	font-family: Lato;
	border:none;
	float: left;
}
	
	.subscribe-box input[type=email]:focus {
		border: none;
		outline: none;
		color:#222;
	}
	
	.subscribe-box input[type=email] {
		width: 200px;
	}

	.subscribe-box .callToAction {
		color: #fff;
		background: #000;
		height: 18px;
		float: left;
		font-size: 13px;
		font-weight: 300;
		padding: 2px 10px 0 10px;
		text-align: center;
	}
	
	.subscribe-box .callToAction:hover {
		background: #ff2b06;
	}

.clear {
	clear: both;
}

/*==============================Scroll to Top==============================*/

.top {
	position:absolute;
	right:45px;
	top:20px;
	width:50px;
	height:10px;
	background: rgba(2, 2, 2,0.7);
	padding-top:25px;
	line-height:25px;	
	color:#999;
	display:block;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	font-size:14px;
	behavior:url(../js/PIE.htc);
	z-index: 100;
}

.top:before {
	position:absolute;
	top:11px;
	left:14px;
	content:"";
	display: ;
	border-bottom:11px solid #888;
	border-left:11px solid transparent;
	border-right:11px solid transparent;
}

.top:hover {
	color: #555555;
}

.top:hover:before {
	border-bottom-color:#eee;
}

/*Speaker Form*/

.speakerFormText {
	/*background: #000000;*/
	overflow: hidden;
	padding-bottom: 170px;
}

.speakerFormTextContainer {
	width: 600px;
	margin: 0 auto;
}

.speakerFormText h3 {
	font-size: 30px;
	font-weight: 100;
	color: #000;
	margin-bottom: 35px;
}

.speakerFormText .left {
	float: left;
	width: 143px;
}

.speakerFormText .right {
	float: left;
	width: 452px;
}

.speakerFormText h4 {
	text-transform: uppercase;
	font-size: 16px;
	color: #000;
	font-weight: 300;
}

.speakerFormText h5 {
	font-size: 16px;
	color: #B3B3B3;
	font-weight: 300;
}

.speakerFormText p {
	color: #000;
	font-size: 16px;
}

.speakerFormText span {
	text-transform: none;
}

.speakerFormTriangle {
	width: 0;
	height: 0;
	border-right:600px solid transparent;
	border-bottom: 80px solid #f5f5f5;
	margin: -150px auto 0 auto;
}

.speakerForm {
	width: 510px;
	margin: 0 auto;
	padding: 0 45px 20px 45px;
	background: #f5f5f5;
	/*border-left: solid 20px #000;
	border-right: solid 20px #000;*/
	
	position: relative;
	z-index: 10;
}

.speakerForm-overwrite {
    margin-left: -45px;
}

.speakerForm hr {
	border-bottom: solid #EAEAEA 1px;
	padding-top: 28px;
}

.speakerForm h3 {
	width: 230px;
	background: #f5f5f5;
	text-align: center;
	margin: -12px auto 0 auto;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 300;
}

.speakerForm .spaceBelowLabel {
	line-height: 25px;
}


.speakerForm h4 {
	background: #f5f5f5;
    width: 150px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 300;
	margin-top: -12px;
}

.speakerForm span {
	color: #000;
	text-transform: none;
}

.speakerForm .required-message {
	display: none;
}

.speakerForm .ss-required-asterisk, .speakerForm .required {
	color: #FF2B06;
}

.speakerForm .error-message {
    font-weight: 300;
}

.speakerForm .note {
	text-align: center;
	font-size: 14px;
	margin-top: -16px;
	margin-bottom: 10px;
}

.speakerForm .terms {
	text-align: right;
	margin-right: 90px;
}

.speakerForm #personalInformation {
	width: 160px;
}

.speakerForm #previousExperiences {
	width: 160px;
}



.speakerForm .ss-form-question {
	overflow: hidden;
	margin: 15px 0;
}

.speakerForm input:not([type=submit]):not([type=radio]), .speakerForm textarea {
	float: right;
	width: 510px;
	
	
	background: #fafafa;
	color: #AFAFAF;
	font-size:16px;
	font-weight:300;
	font-family: Lato;
	border:none;
	padding: 5px;	
	margin-top: 10px;
}

.speakerForm textarea radiobuttonlist {
	margin-top: 10px;
	border: solid;
}

.speakerForm  input[type=file] {
	background: transparent;
}

.speakerForm ol {
	list-style-type: decimal;
	background: none;
}

.speakerForm .hint {
	margin-bottom: 10px;
}

.speakerForm .submit {
	float: right;
	margin-top: -29px;
}

.guidelines {
	margin-top: -40px;
	position: relative;
	z-index: 0;
	padding-top: 40px;
}

.applicationComplete #submissionAccepted {
	
	text-align: center;
	
}



 .errorSummary
{
	border: 2px solid rgb(255, 223, 223);
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #FEE;
	font-size: 0.9em;
}

 .errorMessage
{
	color: red;
	font-size: 0.9em;
}

 .errorSummary p
{
	margin: 0;
	padding: 5px;
}

 .errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
}



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


/*==========================member profile======================================*/




.profile-main profileGeneralInfo {
    border: solid #000;
}


.profile-main .profileIntro {
    overflow: hidden;
}

.profile-main .profile-column-left,
.profile-main .profile-column-right {
	
	float: left;
	
}
.floatRight {
	float: right;
}

    .profile-main .profile-column-left,
    .profileName {

        width: 330px;

    }

    .profile-main .profile-column-right {

        width: 630px;

    }




.profile-main h2,
.profile-main h3,
.profile-main h4,
.profile-main h5,
.profile-main h6 {
    text-transform: uppercase;   
}



.profile-main h2 {
    font-size: 40px;
    line-height: 42px;
    font-weight: 900;
    
    color: #000;
}

.profile-main h3,
.profile-main h4,
.profile-main h5 {
    font-weight: 400;  
}

.profile-main h3 {
    font-size: 30px;
    
    color: #ff2b06;
    
    margin: -7px 0 10px 0;
}

.profile-main h4 {
    font-size: 20px;
    
    color: #000;
    
    margin: 0;
}

.profile-main h5 {
    font-size: 20px;
    
    color: #828282;
    
    margin: 28px 0 2px 0;
}

.profile-main h6 {
    font-size: 16px;
    
    color: #000;
    
   font-weight: 400;
}



.profile-main .assessment {
    margin: 8px 0;   
}

.profile-main .assessment div {
    float: left;
    width: 40%;
    margin-right: 10%;
}

.profile-main .assessment div h6 {
    margin: 12px 0;
    height: 40px;
}








/*Left Column*/


.profile-main .profilePicture {
    width: 300px;
}

/*Right Column*/

.profile-main .linkContainer {
    overflow: hidden;
}

.profile-main .linkIcon {
    margin-top: 32px;
    height: 16px;
}

.profile-main .links {
    width: 580px;
    margin-left: 20px;
}

.profile-main .encourageButton {
    color: #fff;
    margin: 0;
    text-decoration: none;
}

.profile-main .encourageButton h6 {
    padding: 6px 12px;
    
    color: #fff;
    background: #000;
    
    border: solid #000 2px;
    
    width: 102px;
    
    
}

    .profile-main .encourageButton h6:hover {
        color: #000;
        background: none;
        border: solid #000 2px;
}

		
			
			
			
			
			

.favouriteTalk {
    border: solid;
}

.ss-password-warning {
	display: none;
}






